@import url('../components/button.css');
@import url('../components/input.css');
@import url('../layout/header.css');
@import url('../pages/main.css');

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

main{
    width: 75%;
    display: flex;
    align-items: center;
}

aside{
    width: 25%;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

h1{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.7rem;
}

h4{
    font-family: 'Exo 2', sans-serif;
}

label{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
}

input{
    width: 20%;
    height: 20px;
    border: 1px solid;
}

a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.7rem;
    color: #000;
}

.product{
    width: 95%;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    margin-top: -8%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

img{
    margin-left: 2%;
}

.productInfo{
    display: flex;
    width: 100%;
}

.productName{
    margin-left: 5%;
    width: 35%;
    
}

.productPrice{ 
    width: 30%;
}

.productSize{
    width: 30%;
}

.selfAlign{
    align-self: flex-start;
    margin-right: 2%;
    margin-top: 2%;
    cursor: pointer;
}


p{
    font-family: 'Noto sans',sans-serif;
    font-size: 0.75rem;
    line-height: 7px;
}

.summary{
    height: 55vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    box-shadow: -4px -4px 2px -2px rgba(0, 0, 0, 0.1), 4px 4px 2px -2px rgba(0, 0, 0, 0.1), -4px 4px 2px -2px rgba(0, 0, 0, 0.1), 4px -4px 2px -2px rgba(0, 0, 0, 0.1);
}

.summaryInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 6vh;
}

.summaryInfo:nth-child(4){
    border-top: 1px solid;
}

@media (max-width: 900px){
    .content{
        flex-direction: column;
    }
    main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    .title{
        align-self: center;
    }
   .product{
    margin-top: 5%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px 4px 8px rgba(0, 0, 0, 0.2);
   }
   .summary{
    margin-top: 5%;
    margin-left: 2%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px 4px 8px rgba(0, 0, 0, 0.2);
   }
}
