@import url('main.css');
@import url('../layout/header.css');

li:nth-child(1){
    border-bottom: 1px solid #E8EBED;
}

body {
    font-family: 'Noto sans', sans-serif;
    background-color: #6D6D6D;
}

.pag {
    padding: 20px;
    margin-top: vh;
}

.pag p {
    color: #b2b7ba;
}

h1 {
    font-family: 'Exo 2', serif;
    font-size: 2rem;
    color: #ffffff;
    padding: 0 20px;
}

.title{
    padding: 0 20px;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.tab {
    background-color: #515050;
    border-radius: 10px;
    padding: 0 10px;
}

h4 {
    font-family: 'Exo 2', serif;
    font-size: 1.3rem;
    font-weight: 800;
    color: #E8EBED;
}

.tab p {
    font-size: 0.7rem;
    margin-top: -7%;
}

.photo-tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo-tab {
    padding: 0 8px;
    padding-top: 8px;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #515050;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

.photo-tab:hover {
    transform: scale(1.05);
}

.photo-tab img {
    justify-self: center;
    border-radius: 10px;
    height: 150px;
    aspect-ratio: 1 / 1;
}

h5 {
    color: #E8EBED;
    font-size: 1rem;
}

.photo-tab p {
    font-size: 0.7rem;
    margin-top: -10%;
}

.circle {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
}

.review-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.review-tab {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8px;
    background-color: #515050;
    border-radius: 10px;
    width: 30%;
    gap: 5px;
}

.name {
    color: #fff;
    font-weight: 800;
    line-height: 5px;
}

.text p {
    font-size: 0.7rem;
}

.media-tabs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media-tab{
    padding: 0 8px;
    padding-top: 8px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #515050;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

.media-tab:hover{
    transform: scale(1.05);
}

video {
    justify-self: center;
    border-radius: 10px;
    height: 200px;
    aspect-ratio: 1 / 1;
    object-fit:cover;
}

.media-tab p{
    font-size: 0.7rem;
    margin-top: -5%;
}