@import url('main.css');
@import url('../layout/header.css');
@import url('../components/cartPopUp.css');

body{
    font-family: 'Noto sans', sans-serif;
    background-color: #6D6D6D;
}

.pag{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-s{
    width: 30%;
    aspect-ratio: 1 / 1;
}

.imgs-s .img-s{
    width: 100%;
}

.img-m{
    width: 40%;
    aspect-ratio: 2 / 1.2;
}

.img-lg{
    width: 65%;
    aspect-ratio: 2 / 1.3;
}

.img-2lg{
    width: 95%;
    aspect-ratio: 2 / 1;
}

.imgs-s{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px
}

.img{
    position: relative;
    border-radius: 10px;
}

img:hover{
    filter: brightness(0.5) blur(2px);
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    top: 5%;
    left: 5%;
    transform: translate(0, 0);
    z-index: 1;
    color: transparent;
    font-size: 1rem;
}

p{
    color: transparent;
    transition: all 0.3s ease;
}

.img i{
    position: absolute;
    top: 50%;
    left: 50%;
    top: 10%;
    left: 80%;
    transform: translate(0, 0);
    transform: rotate(45deg);
    z-index: 1;
    color: transparent;
    transition: all 0.3s ease;
}

.img:hover i{
    color: #fff;
    top: 8%;
    left: 85%;
}

.img:hover p{
    margin-top: -2%;
    color: #E8EBED;
    top: 8%;
    left: 85%;
}

.img:hover .text{
    color: #E8EBED;
}

li:nth-child(4){
    border-bottom: 1px solid #E8EBED;
}