header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6D6D6D;
    width: 100%;
    height: 11vh;
}

.logo img {
    height: 9vh;
    width: 100%;
    cursor: pointer;
}

 nav{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
} 

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 135%; /*Com o logo no meio = 35%*/
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #E8EBED;
    font-weight: 300;
    font-size: 1rem;
}

.logoText{
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    color: #E8EBED;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-around;
    gap: 50%;
    cursor: pointer;
}

.colorIcons{
    color: #E8EBED;
}


#menuButton {
    display: none;
}

@media (max-width: 900px) {
    #navBar {
        display: none;
        position: absolute;
        top: 11vh;
        right: 0;
        background-color: #6D6D6D;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    #navBar li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    #navBar a {
        width: 100%;
    }
    #menuButton {
        display: block;
        cursor: pointer;
    }
    .logoText{
        display: none;
    }
    .menuBar{
        display: flex;
        flex-direction: column;
    }
}