button{
    background-color: #6D6D6D;
    color: #fff;
    width: 75%;
    height: 40px;
    font-family: 'Noto sans', serif;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #04340a;
}
