@import url('../components/button.css');

.cartPopUp {
    height: 35vh;
    width: 30%;
    margin-left: 70%;
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
    z-index: 1001; /* Certifique-se de que o pop-up esteja acima do fundo escurecido */
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.infoCart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
}

.title i:nth-child(1) {
    color: #17ae00;
}

.title i:nth-child(3) {
    cursor: pointer;
    align-self: flex-start;
    margin-right: 2%;
    margin-top: 2%;
}

.title p {
    font-family: 'Exo 2';
    font-size: 0.95rem;
    margin-left: -40%;
}

.middle {
    width: 90%;
    display: flex;
    gap: 10%;
}

.middle p {
    font-family: 'Noto sans', sans-serif;
    font-size: 0.8rem;
    line-height: 80%;
}

.middle img{
    width: 70px;
    aspect-ratio: 3.2 / 2.5;
}

button {
    margin-top: 5%;
}

#cart {
    display: none;
    position: fixed;
    top: 11%;
    z-index: 1001;
}