@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Noto sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6D6D6D;
    width: 100%;
    height: 11vh;
}

.logo img {
    height: 9vh;
    width: 100%;
}

 nav{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
} 

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%; /*Com o logo no meio = 135%*/
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #E8EBED;
    font-weight: 300;
    font-size: 1rem;
}

.logoText{
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    color: #E8EBED;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.category {
    text-align: center;
    background-color: #E8EBED;
    padding: 20px;
    width: 30%;
}

.category img {
    width: 100%;
    height: auto;
}

.category p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
    margin-top: 5%;
}

.icons {
    display: flex;
    justify-content: space-around;
    gap: 50%;
    cursor: pointer;
}

.colorIcons {
    color: white;
}

#menuButton {
    display: none;
}

@media (max-width: 768px) {
    #navBar {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #6D6D6D;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    #navBar li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    #navBar a {
        width: 100%;
    }
    #menuButton {
        display: block;
        cursor: pointer;
    }
}

.navActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    height: 75%;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

h1{
    font-family: 'Exo 2',sans-serif;
    background-color: transparent;
    margin-top: -2%;
}

.group{
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: 80%;
    width: 90%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 75%;
}

.formGroup input{
    width: 94%;
    background-color: transparent;
    
}

.formGroup label{
    background-color: transparent;
    font-size: 0.8rem;
}


a{
    background-color: transparent;
    color: #170a1c;
    font-size: 0.8rem;
    font-family: 'Noto sans', sans-serif;
}

button{
    background-color: #6D6D6D;
    color: #fff;
    width: 75%;
    height: 40px;
    font-family: 'Noto sans', serif;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color:#313715;
    cursor: pointer;
}


input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #170a1c;
    padding: 0 10px;
    margin-top: 10px;
}

.formGroup:has(input[type='date']) {
   width: 75%;
}


.iconsRegistration{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.iconsRegistration button{
    width: 20%;
}

.group{
    display: none;
    flex-direction: column;
}

.errorLabel{
    color: #8e1616;
    font-family: 'Noto sans', sans-serif;
    font-size: 0.8rem;
    display: none;
}

.firstGroup{
    display: flex;
}

.exitIcon{
    background-color: transparent;
    color: #170a1c;
    width: 10%;
    height: 5%;
    margin-top: 2%;
    align-self: flex-end;
}

.exitIcon:hover{
    background-color: transparent;
    color: #313715;
}

.exitIcon i:hover{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}