@import url('main.css');

h1 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}

.search-bar {
    width: 100%;
    max-width: 600px; 
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    margin-right: 10px;
    border: 2px solid #170a1c;
}

.search-button , .add-button, .submit{
    margin-right: 5px;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 25px;
    border: none;
    background-color: #6D6D6D;
    color: white;
    cursor: pointer;
}

.search-button:hover, .add-button:hover, .submit:hover {
    background-color: #313715;
}

table{
    font-size: 0.8rem;
}

.user-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.delete-button:hover {
    background-color: #da190b;
}

.center-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 60%;
    display: flex;
    flex-direction: column;
}
 
.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label{
    font-family: 'Noto sans';
    font-size: 0.8rem;
    margin-bottom: 5px;
    margin-left: 5px;
}

.form-group input{
    height: 25px;
    padding: 0 20px;
    border: 2px solid #393939;
    border-radius: 20px;
}

select{
    height: 25px;
    padding: 0 20px;
    border: 2px solid #393939;
    border-radius: 20px;
}

.submit{
    margin-bottom: 30px;
}


