body {
    font-family: Arial, sans-serif;
}
.form-fixo {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
    border: 2px solid #4CAF50; /* Added border */
    font-size: 16px; /* Adjusted font size */
    color: #333; /* Text color */
    max-width: 400px; /* Maximum width */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.form-fixo input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tabela {
    margin-top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #4CAF50;
    color: white;
}

.tabela tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela tr:hover {
    background-color: #ddd;
}

h1 {
    text-align: center;
}
